<launch>
    <arg name="optional"      default="1"/>

    <param name="dist_to_box" type="double" value="0.4"/>
    <param name="blank_thresh" type="int" value="50000"/> 
    <param name="num_boxes" type="int" value="5"/>
    <param name="ratio" type="double" value="0.8"/>  <!--As in Lowe's paper; can be tuned-->
    
    <!-- <include file="$(find mie443_contest2)/launch/turtlebot_world.launch">
        <arg name="world" value="arg world"/>
    </include> -->
    
    
    <node name="contest2_node" pkg="mie443_contest2" type="contest2" output="screen"/>



</launch>